#gamecontainer {
    border: groove;
    margin: auto;
    width: 600px;
    height: 600px;
    text-align:center;
}

#gamecanvas {
    width: 100%;
    height: 100%;
}

#greaterDiv{
    text-align:center;
}

#navDiv{
    float:right;
    margin-right: 20%;
}