h1 {
    text-align: center;
}

#headerDiv {
    width: 100%;
}

.headerLabel {
    float: left;
    padding-right: 60%;
}

.headerBtn {
    float: right;
    margin: 5px;
}

.subheader {
    font-weight: bold;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    text-indent: -1em;
}

li:before {
    content: " - "
}

#bodyDiv {
    text-align: center;
}