body {
    background-color: steelblue;
    background-image: url(../Images/background.jpg);
    background-size: cover;
    margin: 0;
    color:white;
}

div {
    border-radius: 12px;
}

input[type=submit] {
    color: black;
    border-style: none;
    border-radius: 3px;
    box-shadow: none;
    padding: 4px 8px 4px 8px;
    min-width: 100px;
}

input[type=submit]:hover {
    background-color: rgb(186, 206, 232);
    border-color: rgb(211, 211, 211);
}

input[type=submit]:active {
    background-color: darkcyan;
    border-color: darkslategray;
}

input[type=text] {
    background-color: antiquewhite;
    border-color: darkslategray;
    border-radius: 0;
    border-style: double;
    border-width: 2px;
}

input[type=text]:focus {
    background-color: floralwhite;
    border-color: darkcyan;
    outline: none;
}

