#outerDiv {
    text-align: center;
    border: groove;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
}

#LeftDiv {
    text-align: left;
    float: left;
    flex: 1;
    border: groove;
    margin-left: 20%;
    margin-right: 1%;
    font-size: 30px;
    padding: 10px;
}

#RightDiv {
    float: right;
    flex: 1;
    border: groove;
    margin-right: 20%;
    margin-left: 1%;
    font-size: 30px;
    padding: 10px;
}

#RightDiv td {
    text-align: left;
    padding-right: 15px;
}

#StatsDivs{
    display: flex;
    text-align: center;
}

#buttonDiv {
    text-align: center;
}

h3 {
    border-bottom: double;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}